<div class="inline-btn">
	<a class="btn-social twitter" href="https://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
	<a class="btn-social facebook" href="https://www.facebook.com/{{ site.owner.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a>
	<a class="btn-social pinterest" href="http://www.pinterest.com/{{ site.owner.pinterest }}/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a>
	<a class="btn-social instagram" href="http://instagram.com/{{ site.owner.instagram}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
	<a class="btn-social heart" href="http://www.bloglovin.com/en/blog/12328027" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> bloglovin'</a>
	<a class="btn-social share-alt" href="http://blog-connect.com/a?id=4-7486733641719352" target="_blank"><i class="fa fa-share-alt" aria-hidden="true"></i> blog&#45;connect</a>
</div><!-- /.share-this -->