<ul class="fa-ul">
	<li><a href="https://twitter.com/{{ site.owner.twitter }}" onclick="ga('send', 'event', 'link', 'click', 'Twitter follow');"><i class="fa-li fa fa-twitter-square" aria-hidden="true"></i>Twitter</a></li>
	<li><a href="https://www.facebook.com/{{ site.owner.facebook }}" onclick="ga('send', 'event', 'link', 'click', 'Facebook follow');"><i class="fa-li fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
	<li><a href="http://instagram.com/{{ site.owner.instagram }}" onclick="ga('send', 'event', 'link', 'click', 'Instagram follow');"><i class="fa-li fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
	<li><a href="http://www.pinterest.com/{{ site.owner.pinterest }}/" onclick="ga('send', 'event', 'link', 'click', 'Pinterest follow');"><i class="fa-li fa fa-pinterest-square" aria-hidden="true"></i>Pinterest</a></li>
	<li><a href="{{ site.url }}/atom.xml" onclick="ga('send', 'event', 'link', 'click', 'Feed follow');"><i class="fa-li fa fa-rss-square" aria-hidden="true"></i>Feed</a></li>
	<li><a href="http://www.bloglovin.com/en/blog/12328027" onclick="ga('send', 'event', 'link', 'click', 'Bloglovin follow');"><i class="fa-li fa fa-plus-square" aria-hidden="true"></i>Bloglovin'</a></li>
	<li><a href="http://blog-connect.com/a?id=4-7486733641719352" onclick="ga('send', 'event', 'link', 'click', 'Blogconnect follow');"><i class="fa-li fa fa-square"></i>BlogConnect</a></li>
	<!-- <li><a href="#" ><i class="fa fa-rss" aria-hidden="true"></i> RSS</a></li> -->
	<!-- <a href="#"><span class="fa-stack fa-stack-lg">
  <i class="fa fa-square fa-stack-lg"></i>
  <strong class="fa-stack-text fa-stack-lg fa-inverse">bc</strong>
</span></a> -->
</ul>