// Custom
.page-owner {
	position: relative;
}
.owner-image {
	position: absolute;
	left: 0;
	img {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: $circular;
	}
}
.owner-content {
	word-wrap: break-word;
	padding-left: ($avatar-size + 20px); //avatar width + 20px padding
	min-height: $avatar-size; //mirrors avatar height
}